{% extends 'base.html' %} {% block title %}Admin{% endblock %} {% block content
%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="#" class="navbar-brand">Pinterest Stitchbox</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container">
  {% include "includes/nav.html" %}

  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Welcome to University Tech Academy.</h1>

      {% if login %}
      <h3>Let's get started.</h3>
      {% else %}
      <p>Already Register? <a href="{{ url_for('login') }}">Login</a></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
